@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Courgette');
*{	font-family: "Dancing Script" , "Noto Sans TC" , "微軟正黑體", sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
		margin: 0;
		padding: 0;
	}
	.full-width {
		width: 100%;
	}
	.fixed-width {
		width: 1200dx;
	}
	.clearfix::after {
		content: "";
		display: block;
		clear: both;
	}
	img {
		width: 100%;
	}
	a {
		text-decoration: none;
		color: white;
	}
	li {
		list-style-type: none;
	}