* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100%;
}

.container nav {
  position: relative;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-bar .logo {
  margin-top: 20px;
}

.nav-bar .logo img {
  width: 120px;
}

.list ul {
  position: absolute;
  left: 150px;
  top: 40px;
}

.list ul li {
  float: left;
  display: block;
  padding: 15px;
  list-style-type: none;
  text-decoration: none;
  left: 150px;
  cursor: pointer;
}

.list ul li a {
  color: black;
  cursor: pointer;
}

.search-bar {
  width: 80%;
}

.search-bar div {
  position: relative;
  float: right;
  top: 10px;
}

.search-bar div input {
  width: 700px;
  margin-right: 10px;
  display: none;
}

.search-bar div img {
  padding-right: 30px;
  height: 20px;
  cursor: pointer;
}

.search-bar div a {
  color: black;
}

#carouselExampleIndicators {
  position: absolute;
  left: 0;
  width: 100%;
}

.slide {
  margin-top: 50px;
}

.slide img {
  width: 1024px;
  margin: auto;
}

.slide-1 {
  bottom: 30% !important;
}

.slide-1 h5 {
  width: 100px !important;
  height: 50px !important;
  font-size: 40px;
  margin-bottom: 40px;
}

.slide-1 p {
  width: 170px !important;
  bottom: 0;
  padding-top: 20px;
}

.slide-1 button {
  position: relative;
  left: -40% !important;
}
